body{
  font-family: arial;
  font-weight: bold;
}

/* Background video styling */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;   /* fills screen without stretching */
  z-index: -1;         /* puts video behind everything */
}

/* Optional content styling */
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}



.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #94afd4;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s ease;
  position: absolute;
  top: 475px;
  left: 50px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background: #668abd;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* Center button in middle */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.btn:hover {
  background-color: #193761;
  transform: scale(1.05);
}


#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.btn {
  position: relative;
  z-index: 10;
}


